/* TODO move all this to site-kit */

body {
	/* --font-mono: Menlo, Monaco, 'Courier New', monospace; */
	--font-mono: 'Roboto Mono', monospace;
	--h4: 1.6rem;

	--light-blue: #f4f8fb;
}

html body.dark {
	color-scheme: dark;
	--sk-back-3-hsl: 216, 100%, 10%;
	--sk-back-2-hsl: 216, 100%, 15%;
	--sk-back-1: #052b65;
	--sk-back-4: #0a3d8c;
	--sk-back-5: #295aa1;
	--sk-back-translucent: #052b651a;
	--sk-theme-1-hsl: 216, 100%, 90%;
	--sk-theme-2-hsl: 216, 80%, 30%;
	--sk-theme-3-hsl: 216, 60%, 50%;
	--sk-text-1: #cae9ff;
	--sk-text-2: #b0d4f7;
	--sk-text-3: #96bff5;
	--sk-text-4: #7caaf2;
	--sk-text-translucent: #cae9ff1a;
	--sk-scrollbar: #cae9ff4d;
	--sk-theme-1-variant: #084a8d;
	--sk-theme-2-variant: #296ba4;
	--sk-theme-3-variant: #4b8cc1;
	--sk-text-warning-hsl: 216, 67%, 56%;
	--sk-code-ts-bg: hsl(216, 100%, 15%);
	--sk-code-base: #c4c1bb;
	--sk-code-comment: #8c8c8c;
	--sk-code-keyword: #57b5f4;
	--sk-code-function: #eab095;
	--sk-code-string: #ccb88f;
	--sk-code-number: green;
	--sk-code-template-string: #d81e18;
	--sk-code-tags: var(--sk-code-function);
	--sk-code-important: var(--sk-code-string);
	--sk-code-diff-base: #ffffff80;
	--sk-code-diff-inserted: #42b342;
	--sk-code-diff-removed: #e38582;
	--faded: rgba(255, 255, 255, 0.5);
	--progress: #cae9ff;
	--cutout: #052b65;
}

html body.light {
	color-scheme: light;
	--sk-back-3-hsl: 206, 64%, 98%;
	--sk-back-2-hsl: 0, 0%, 100%;
	--sk-back-1: #fff;
	--sk-back-4: #f2f7fd;
	--sk-back-5: #c2cdd6;
	--sk-theme-1-hsl: 216, 100%, 33%;
	--sk-theme-2-hsl: 240, 8%, 44%;
	--sk-theme-3-hsl: 204, 100%, 63%;
	--sk-text-1: #052b65;
	--sk-text-2: #052b65;
	--sk-text-3: #405a82;
	--sk-text-4: #405a82;
	--sk-scrollbar: #052b654d;
	--sk-theme-1-variant: #084a8d;
	--sk-theme-2-variant: #676779;
	--sk-theme-3-variant: #42b4ff;
	--sk-code-ts-bg: var(--sk-back-1);
	--sk-code-base: #5f5c53;
	--sk-code-comment: #696969;
	--sk-code-keyword: #0b69a8;
	--sk-code-function: #bb5525;
	--sk-code-string: #856e3d;
	--sk-code-number: green;
	--sk-code-template-string: #d81e18;
	--sk-code-tags: var(--sk-code-function);
	--sk-code-important: var(--sk-code-string);
	--sk-code-diff-base: #0009;
	--sk-code-diff-inserted: green;
	--sk-code-diff-removed: #d81e18;
	--sk-text-warning-hsl: 32, 95%, 44%;
	--sk-back-translucent: #0000001a;
	--sk-text-translucent: #000000b3;
	--faded: #052b6524;
	--progress: #052b65;
	--cutout: #052b65;
}

/* override logo */
html body a.home-link {
	background-image: none !important;
	padding: 0 !important;
}

#cow-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 1rem;
}

#cow-logo>img {
	object-fit: contain;
	width: 100%;
	height: 3.5rem;
	margin: 0 1.5rem 0 0;
}

html body.dark #cow-logo>img {
	content: url(/cow_logo_light.svg);
}

#cow-logo-small {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 2rem;
}

#cow-logo-small>img {
	object-fit: contain;
	width: 100%;
	height: 3.5rem;
	margin: 0;
	;
}

html body.dark #cow-logo-small>img {
	content: url(/cow_icon_light.svg);
}

input,
button {
	border: 2px solid transparent;
}

input:focus-visible,
button:focus-visible {
	outline: none;
	border: 2px solid var(--flash);
}

/* this is duplicated with kit.svelte.dev */
pre.language-diff code {
	color: rgba(0, 0, 0, 0.4);
}

.dark pre.language-diff code {
	color: rgba(255, 255, 255, 0.4);
}

.language-diff .inserted,
.language-diff .deleted {
	position: relative;
}

.language-diff .inserted {
	color: hsl(120, 100%, 25%);
}

.language-diff .deleted {
	color: hsl(2, 80%, 47%);
	user-select: none;
}

.language-diff .inserted::before,
.language-diff .deleted::before {
	position: absolute;
	left: -1rem;
	top: -0.2rem;
	font-size: 1.2rem;
}

.language-diff .inserted::before {
	content: '+';
}

.language-diff .deleted::before {
	content: '-';
}